
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
SetOutputFilter DEFLATE 
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/javascript text/css
RewriteCond %{REQUEST_URI} !\.(js|ico|gif|jpg|jpeg|png|css|html|htm|xml|zip|gz|txt|ini|doc|ico|swf|flv|fla|dtd|ttf|php)$
RewriteRule ^/(.*?)$ /index.php
<FilesMatch "\.(ico|gif|jpg|png|html|txt)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch> 

